.jumbotron {
  background-color: #303E73;
  color: #BEC3D5;
}

body {
  background-color: #BEC3D5
}

#map-id {
  padding: 0;
  margin: 0;
  width: 80vw;
  height: 64vh;
}

.leaflet-control-layers-group-name {
  font-weight:700;
  margin-bottom:.2em;
  margin-left:3px
}

.leaflet-control-layers-group {
  margin-bottom:.5em
}

.leaflet-control-layers-scrollbar {
  overflow-y:scroll;
  padding-right:10px
}

.legend {
  line-height: 25px;
  color: #555;
  background-color: white;
  padding: 4px;
  border-radius: 5px;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

h3 {
  font-weight: bold;
}

.vis-timeline {
  background: white;
}